:root {
  --background-color: rgba(242, 249, 241, 0.2);
  --primary-color: #000000;
  --secondary-color: #4c9173;
  --third-color: #a2c11c;
  --heading-font-family: Georgia, "Times New Roman", Times, serif;
  --secondary-font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  margin-left: 10px;
  margin-right: 10px;
}
.hero {
  background-color: var(--third-color);
  margin: 40px;
  padding-top: 100px;
  padding-bottom: 100px;
  border-radius: 10px;
}
h1,
h2,
h3 {
  text-align: center;
  font-family: var(--heading-font-family);
  color: white;
  padding-bottom: 20px;
}
h1 {
  font-size: 96px;
}
h2 {
  font-size: 42px;
}
h3 {
  font-size: 32px;
}
#homepage-container {
  margin-top: 50px;
}
.homepage-link {
  border: 2px solid var(--third-color);
  padding: 25px 30px;
  background-color: var(--third-color);
  color: white;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: var(--box-shadow);
}
.homepage-link-2 {
  border: 2px solid var(--third-color);
  padding: 25px 30px;
  background-color: var(--third-color);
  color: white;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: var(--box-shadow);
}
