:root {
  --background-color: rgba(242, 249, 241, 0.2);
  --primary-color: #000000;
  --secondary-color: #4c9173;
  --third-color: #a2c11c;
  --heading-font-family: Georgia, "Times New Roman", Times, serif;
  --secondary-font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 100px;
}
.hero {
  background-color: var(--third-color);
  margin: 40px;
  padding: 100px 10px 100px 10px;
  border-radius: 10px;
}
h1,
h2,
h3 {
  text-align: center;
  font-family: var(--heading-font-family);
  color: white;
  padding-bottom: 20px;
}
h1 {
  font-size: 86px;
}
h2 {
  font-size: 42px;
}
h3 {
  font-size: 32px;
}
p {
  font-family: var(--secondary-font-family);
  font-size: 16px;
  text-align: center;
}
#homepage-container {
  margin-top: 50px;
}
.homepage-link {
  border: 2px solid var(--third-color);
  padding: 25px 30px;
  background-color: var(--third-color);
  color: white;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: var(--box-shadow);
}
#photo-from-the-side {
  display: block;
  margin: 0 auto;
  width: 400px;
  border-radius: 4px;
}
.checkout-projects {
  color: var(--third-color);
  font-weight: bold;
  padding: 20px 0px 20px 0px;
  margin: 20px 0px 20px 0px;
}
.homepage-project-links {
  border: 2px solid var(--third-color);
  padding: 25px 30px;
  background-color: var(--third-color);
  color: white;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: var(--box-shadow);
}
.homepage-project-headings {
  color: var(--primary-color);
}

@media (max-width: 850px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 28px;
  }
  .hero {
    margin: 0 auto;
  }
  #photo-from-the-side {
    width: 300px;
  }
  .homepage-link {
    padding: 10px 15px 10px 15px;
  }
  .homepage-project-paragraphs {
    display: none;
  }
  .homepage-project-links {
    padding: 10px 15px 10px 15px;
  }
  .make-space {
    margin-bottom: 50px;
  }
  .image-coat-openhair {
    max-width: 200px;
  }
  .card {
    max-width: 200px;
  }
}
.aboutme-button {
  border: 1px solid var(--third-color);
  border-radius: 5px;
  padding: 10px 15px;
  background-color: var(--third-color);
  box-shadow: var(--box-shadow);
  color: white;
  text-decoration: none;
  margin-top: 10px;
}
.about-section {
  background-color: var(--third-color);
  margin: 40px;
  padding: 100px 10px 100px 10px;
  border-radius: 10px;
}
.image-coat-openhair {
  display: block;
  margin: 50px auto;
  width: 300px;
}
.cv {
  background-color: rgba(162, 193, 28, 0.2);
  margin: 40px;
  padding: 100px 10px 100px 10px;
  border-radius: 10px;
}
.special-heading {
  color: #a2c11c;
}
.card {
  display: block;
  margin: 0 auto;
  color: white;

  background-color: var(--third-color);
}
.card-header {
  font-weight: bolder;
  text-decoration: underline;
}
.list-group-item {
  background-color: #a2c11c;
  color: white;
}
.cv-button {
  border: 1px solid var(--third-color);
  background-color: var(--third-color);
  padding: 10px 15px;
  color: white;
  display: block;
  margin: 0 auto;
  margin-top: 150px;
  border-radius: 5px;
}
